html{
    background-color:  rgb(47,2,75);
    color: rgb(182, 88, 0);

}
table{
    border: solid rgb(183, 88, 0);
}
.red:hover > .last, .red:hover {
    
    background-color: red;
    
}
.last {
    background-color: black;
}

h1{
    color: white; 
    font-size: 34px; 
    font-family: Aeonik; 
    font-weight: 400; 
    letter-spacing: 0.25px;
    word-wrap: break-word;
}
p{
    color: white; 
    font-size: 12px; 
    font-family: Source Code Pro; 
    font-weight: 400; 
    word-wrap: break-word;
}