html{
    background-color:  rgb(47,2,75);
    color: rgb(182, 88, 0);

}
table{
    border: solid rgb(183, 88, 0);
}
.red:hover > .last, .red:hover {
    
    background-color: red;
    
}
.last {
    background-color: black;
}

h1{
    color: white; 
    font-size: 34px; 
    font-family: Aeonik; 
    font-weight: 400; 
    letter-spacing: 0.25px;
    word-wrap: break-word;
}
p{
    color: white; 
    font-size: 12px; 
    font-family: Source Code Pro; 
    font-weight: 400; 
    word-wrap: break-word;
}
button:hover{
    background-color: lightblue;
    transition:  1s;
}
.nav{
    margin: 0;
    background-color: rgba(192, 175, 175, 0.193);

    display: flex;
    align-items: center;
}

nav img:hover+ .links #first{
    color: white;
    transition: 1s;
}
nav img:hover+ .links #second{
    color: white;
    transition: 1s;
    transition-delay: 2s;
}
nav img:hover+ .links #third{
    color: white;
    transition: 1s;
    transition-delay: 3s;
}
.links a{
    color: transparent;
}
a{
    color:rgb(183, 88, 0);
    margin: 5px 5px;
}

